# bib -> latex does not help much, since it is also not valid latex, but at
# least highlights comments (%) correctly
*.bib linguist-language=latex

# Bash is wrong, it is really a plain-text file.
# However, it gets us comment highlighting (hiding/grey) and is close enough.
*.profile linguist-language=bash

# Do not include git config files in archives (e.g. when downloading as ZIP):
.git* export-ignore
